@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightGray: #C7C7C7;
  --darkGray: #434343;
  --mintBreeze: #C1F6ED;
  --tropicalTeal: #3FD0C9;
  --verdantWave: #2EAF7D;
  --forestCanopy: #449342;
  --midnightLagoon: #02353C;
}
 @font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
  font-weight: 100-900;
  font-style: normal;
 }

 @font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100-900;
  font-style: italic;
 }

 @font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-VariableFont_wght.ttf") format('truetype');
  font-weight: 100-900;
  font-style: normal;
 }
 
 @font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Italic-VariableFont_wght.ttf") format('truetype');
  font-weight: 100-900;
  font-style: italic;
 }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@layer utilities {

}
