@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightGray: #C7C7C7;
  --darkGray: #434343;
  --deepBlue: #075fe4;
  --primary: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dfdfdf;
    --primary: #e3e3e3;
  }
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

@layer utilities {

}
